/* General styles for admin page */
.containerAdministrador {
    width: 100%;
    max-width:1000px;
    margin: 35px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.preguntaNueva,
.preguntaEliminar {
    margin-bottom: 20px;
}
.preguntaNueva .input-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.preguntaNueva  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.btnEnviar {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.btnEnviar:hover {
    background-color: #45a049;
}
@media (max-width: 480px) {
    .input-row {
        flex-direction: column;
    }
}

.preguntaEliminarSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

.preguntaEliminar select,
.preguntaNuevaInput input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.preguntaNuevaInput .btnEnviar,
.preguntaEliminar .btnEnviar {
    margin:0;
    width: 20%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.preguntaNuevaInput .btnEnviar:hover,
.preguntaEliminar .btnEnviar:hover {
    background-color: #45a049;
}

/* Styles for the received responses section */
.respuestasRecibidas {
    overflow-x: auto;
    margin-top: 20px;
}

.respuestasRecibidas table {
    width: 100%;
    border-collapse: collapse;
}

.respuestasRecibidas table th, 
.respuestasRecibidas table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.respuestasRecibidas table th {
    background-color: #007c98;
    color: white;
}

.respuestasRecibidas table td {
    background-color: #fff;
}

.respuestasRecibidas table td.fecha {
    width: 100px;
    text-align: center;
}

.respuestasRecibidas table td.respuestas {
    width: 300px;
    vertical-align: top;
}

.respuestasRecibidas table td.respuestas ul {
    list-style-type: none;
    padding-left: 0;
    max-height: 200px;
    overflow-y: auto;
}

.respuestasRecibidas table td.respuestas ul li {
    margin-bottom: 10px;
}

.bannerAdmin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #59b1c3;
    /* padding: 20px; */
    color: white;
    width:100%;
}

.bannerAdmin h1 {
    margin: 0;
}

.bannerAdmin a {
    background-color: #ffafaf;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.bannerAdmin a:hover {
    background-color: #ff6c6c;
}
